.container--whycode {
padding: 25px;
backdrop-filter: blur(150px) brightness(65%);
}

.col--top-page {
color: white;
padding: 10px;
margin-top:10px;
margin-bottom:25px;
}


.h1--top-heading{
font-family: 'helvetica';
font-weight: 600;
font-style: italic;
margin-top: 50px;
}

.p--top-paragraph {
margin-top: 30px;
}