
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.top-heading{
margin-top: 75px;
}

.search-image{
width: 30px;
height: 30px;
}

.col-return-box {
background-color: white;
margin-top: 150px;
margin-bottom: 150px;
margin-right: 5px;
border-radius: 3%;
}

/* start of button-code stylings */

.button-code.show {
display:block;
color: black;
padding-bottom: 100px;
}

.button-code {
display: none;
}

.button-code-header {
display: none;
}

.button-code-header.show {
display: block;
color: black;
padding-top: 100px;
}

/* start of image-code stylings */

.image-code {
display: none;
}

.image-code.show {
display:block;
color: black;
padding-bottom: 100px;
}

.image-code-header {
display: none;
}

.image-code-header.show {
display: block;
color: black;
padding-top: 100px;
}

/* start of link-code stylings */

.link-code {
display: none;
}

.link-code.show {
display:block;
color: black;
padding-bottom: 100px;
}

.link-code-header {
display: none;
}

.link-code-header.show {
display: block;
color: black;
padding-top: 100px;
}

/* start of paragraph-code stylings */

.paragraph-code {
display: none;
}

.paragraph-code.show {
display:block;
color: black;
padding-bottom: 100px;
}

.paragraph-code-header {
display: none;
}

.paragraph-code-header.show {
display: block;
color: black;
padding-top: 100px;
}

/* start of section-code stylings */

.section-code {
display: none;
}

.section-code.show {
display:block;
color: black;
padding-bottom: 100px;
}

.section-code-header {
display: none;
}

.section-code-header.show {
display: block;
color: black;
padding-top: 100px;
}

/* end of coding session ends with section-code */