@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');

.top-heading{
margin-top: 100px;
font-family: "Hurricane";
font-size: 45px;
}

.--search-bar{
margin-top: 0px;
padding-bottom: 200px;
padding-right: 50px;
padding-left: 50px;
margin-left: 0px;
background-image: linear-gradient(to bottom right,  rgba(1, 134, 167, 0.993) , rgb(156, 0, 170));
justify-content: center;
width: 100%;
border-bottom: solid black 1px;
}

.search-bar{
width: 800px;
height: 55px;
}

.col-return-box {
background-color: white;
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
}

/* start of button-code stylings */

.button-code.show {
display:block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

.button-code {
display: none;
}

.button-code-header {
display: none;
}

.button-code-header.show {
display: block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

/* start of image-code stylings */

.image-code {
display: none;
}

.image-code.show {
display:block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

.image-code-header {
display: none;
}

.image-code-header.show {
display: block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

/* start of link-code stylings */

.link-code {
display: none;
}

.link-code.show {
display:block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

.link-code-header {
display: none;
}

.link-code-header.show {
display: block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

/* start of paragraph-code stylings */

.paragraph-code {
display: none;
}

.paragraph-code.show {
display:block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

.paragraph-code-header {
display: none;
}

.paragraph-code-header.show {
display: block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

/* start of section-code stylings */

.section-code {
display: none;
}

.section-code.show {
display:block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

.section-code-header {
display: none;
}

.section-code-header.show {
display: block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

/* start of ul-code stylings */

.ul-code {
display: none;
}

.ul-code.show {
display:block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

.ul-code-header {
display: none;
}

.ul-code-header.show {
display: block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

/* start of ol-code stylings */

.ol-code {
display: none;
}

.ol-code.show {
display:block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

.ol-code-header {
display: none;
}

.ol-code-header.show {
display: block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

/* start of li-code stylings */

.li-code {
display: none;
}

.li-code.show {
display:block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

.li-code-header {
display: none;
}

.li-code-header.show {
display: block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

/* start of nav-code stylings */

.nav-code {
display: none;
}

.nav-code.show {
display:block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

.nav-code-header {
display: none;
}

.nav-code-header.show {
display: block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

/* start of span-code stylings */

.span-code {
display: none;
}

.span-code.show {
display:block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

.span-code-header {
display: none;
}

.span-code-header.show {
display: block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

/* start of audio-code stylings */

.audio-code {
display: none;
}

.audio-code.show {
display:block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

.audio-code-header {
display: none;
}

.audio-code-header.show {
display: block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

/* start of video-code stylings */

.video-code {
display: none;
}

.video-code.show {
display:block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

.video-code-header {
display: none;
}

.video-code-header.show {
display: block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

/* start of article-code stylings */

.article-code {
display: none;
}

.article-code.show {
display:block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

.article-code-header {
display: none;
}

.article-code-header.show {
display: block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

/* start of header-code stylings */

.header-code {
display: none;
}

.header-code.show {
display:block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

.header-code-header {
display: none;
}

.header-code-header.show {
display: block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

/* start of footer-code stylings */

.footer-code {
display: none;
}

.footer-code.show {
display:block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

.footer-code-header {
display: none;
}

.footer-code-header.show {
display: block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

/* start of canvas-code stylings */

.canvas-code {
display: none;
}

.canvas-code.show {
display:block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

.canvas-code-header {
display: none;
}

.canvas-code-header.show {
display: block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

/* start of aside-code stylings */

.aside-code {
display: none;
}

.aside-code.show {
display:block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

.aside-code-header {
display: none;
}

.aside-code-header.show {
display: block;
color: black;
padding-top: 20px;
padding-bottom: 20px;
}

.--end-column {
background-color: rgba(0, 0, 0, 0.74);
padding-top: 100px;
padding-bottom: 100px;
font-family: 'M PLUS 1 code';
}

.--why-code{
font-size: 50px;
margin-top: 50px;
}

.--and-easy{
font-size: 25px;
margin-top: 5px;
margin-bottom: 25px;
}

@media all and (min-width: 768px) {
.--end-paragraph {
padding-left: 150px;
padding-right: 150px;
}
}