.form-container {
background-image: linear-gradient(to bottom right,  rgba(1, 134, 167, 0.993) , rgb(156, 0, 170));
padding-bottom: 66vh;
padding-left: 0px;
padding-right: 0px;
}

.text-form {
color: white;
}


.--email{
margin-top: 175px;
}

.--enter-email{
}