.form-container {
background-image: linear-gradient(to bottom right,  rgba(1, 134, 167, 0.993) , rgb(156, 0, 170));
padding-bottom: 66vh;
padding-left: 0px;
padding-right: 0px;
}

.text-form {
color: white;
}

.--form {
display: flex;
justify-content: center;
}

.--email{
margin-top: 175px;
}

@media all and (min-width: 768px ) {
.--enter-email {
width: 625px
}
}